In [1]:
# 3.1 Import Libraries
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python

#load packages
import sys #access to system parameters https://docs.python.org/3/library/sys.html
print("Python version: {}". format(sys.version))

import pandas as pd #collection of functions for data processing and analysis modeled after R dataframes with SQL like features
print("pandas version: {}". format(pd.__version__))

import matplotlib #collection of functions for scientific and publication-ready visualization
print("matplotlib version: {}". format(matplotlib.__version__))

import numpy as np #foundational package for scientific computing
print("NumPy version: {}". format(np.__version__))

import scipy as sp #collection of functions for scientific computing and advance mathematics
print("SciPy version: {}". format(sp.__version__)) 

import IPython
from IPython import display #pretty printing of dataframes in Jupyter notebook
print("IPython version: {}". format(IPython.__version__)) 

import sklearn #collection of machine learning algorithms
print("scikit-learn version: {}". format(sklearn.__version__))

#misc libraries
import random
import time


#ignore warnings
import warnings
warnings.filterwarnings('ignore')
print('-'*25)

#Common Model Algorithms
from sklearn import svm, tree, linear_model, neighbors, naive_bayes, ensemble, discriminant_analysis, gaussian_process
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
import xgboost as xgb
import lightgbm as lgb

#Common Model Helpers
import sklearn
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn import feature_selection
from sklearn import model_selection
from sklearn import metrics

#Visualization
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
from pandas.plotting import scatter_matrix

#Configure Visualization Defaults
#%matplotlib inline = show plots in Jupyter Notebook browser
%matplotlib inline
mpl.style.use('ggplot')
sns.set_style('white')
pylab.rcParams['figure.figsize'] = 12,8

pd.set_option('display.max_columns', 100)

#ignore warnings
import warnings
warnings.filterwarnings('ignore')

Python version: 3.6.9 |Anaconda, Inc.| (default, Jul 30 2019, 14:00:49) [MSC v.1915 64 bit (AMD64)]
pandas version: 0.25.3
matplotlib version: 3.1.1
NumPy version: 1.17.4
SciPy version: 1.3.1
IPython version: 7.9.0
scikit-learn version: 0.21.3
-------------------------

In [6]:
import codecs
with codecs.open("train.csv", "r", "Shift-JIS", "ignore") as file:
    df = pd.read_table(file, delimiter=",")
    print(df)
# train = pd.read_csv('train.csv','utf-8')
# test  = pd.read_csv('valid.csv','utf-8')

test

            NO      申込年月日    申込時間  【媒体コード】大項目  【媒体コード】詳細項目  受付時間帯区分  受付形態区分  \
0      1000001   2015/3/7   53518           3           24        1     502
1      1000002   2015/4/7  171708           3            9        0    1801
2      1000003   2015/4/9  154859           3            4        0    1701
3      1000005  2015/4/13  131704           1           99        0     101
4      1000007  2015/4/16  203053           3            9        0     502
...        ...        ...     ...         ...          ...      ...     ...
16636  1020137  2018/8/27  121219           5           99        0       1
16637  1020138  2018/8/27  151320           4            2        0    1701
16638  1020139  2018/8/26  202003           4            2        3    1801
16639  1020140  2018/8/29  184334           3            8        0     502
16640  1020141  2018/8/31   94459           1           99        0    1701

       新規時自動契約機店番  取扱店番  管理店番  性別  年齢        生年月日  ＪＩＳ住所コード  独既区分  新職種区分  \
0               0     5     5   1  55   1960/4/10     45201     2    209
1               0     5     5   1  23    1992/4/7     46505     2   1340
2               0     5     5   1  36   1979/1/14     45383     2   1340
3             434   434     5   1  22   1993/4/13     46215     1    506
4               0     5     5   1  36   1979/3/15     46201     1    940
...           ...   ...   ...  ..  ..         ...       ...   ...    ...
16636        3134  3134  1437   1  31  1986/12/23     25206     2    308
16637           0  1437  1437   1  51   1967/2/14     26107     2    240
16638           0  1437  1437   1  32    1986/8/4     26202     1    640
16639           0  1437  1437   1  27   1991/8/12     26102     1    540
16640           0  1437  1437   2  21   1997/7/11     26103     1    540

       【新職種区分】大項目  【新職種区分】詳細項目  雇用形態区分  就業形態区分  会社規模区分     合計年収  在社月数  住居区分  \
0               2          209       1       1       9  2700000    10     8
1              13         1340       4       1       5  2140000    21     5
2              13         1340       2       1       4  4956000   144     8
3               5          506       2       1       6  2300000    28     4
4               9          940       2       1       2  4500000     0     4
...           ...          ...     ...     ...     ...      ...   ...   ...
16636           3          308       1       1       9  3600000    39     2
16637           2          240       2       1       4  5500000   196     4
16638           6          640       2       1       7  3000000     3     8
16639           5          540       4       1       6  2400000     0     4
16640           5          540       4       1       3  1000000    27     4

       居住月数  家賃負担額  家族構成区分  保険職種区分  収入証明有無  独身内訳  同居区分  扶養家族数  扶養家族子供数  \
0        30      0       2       4       0     0     1      2        0
1         1  20000       2       1       0     0     1      3        1
2        82      0       2       1       1     0     1      2        0
3        84   1000       4       1       0     0     1      0        0
4         1  55000       5       1       0     0     2      0        0
...     ...    ...     ...     ...     ...   ...   ...    ...      ...
16636    45  60000       1       4       0     0     1      1        0
16637   124  90000       3       1       0     0     1      4        2
16638   213      0       4       1       0     0     1      0        0
16639    22  65000       5       1       0     0     2      0        0
16640    29  35000       5       3       0     0     2      0        0

       所得証明区分  名義区分  事業形態区分  事業所有無       貸付年月日  １２ヶ月事故
0           0     3       9      0  2015/10/22       0
1           0     0       0      0    2015/4/9       0
2           1     3       0      0   2015/4/10       0
3           0     0       0      0   2015/4/14       0
4           0     0       0      0   2015/4/17       0
...       ...   ...     ...    ...         ...     ...
16636       0     2       1      0   2018/8/27       0
16637       0     0       0      0   2018/8/27       0
16638       0     3       0      0   2018/8/27       0
16639       0     0       0      0   2018/8/30       0
16640       0     0       0      0   2018/8/31       0

[16641 rows x 39 columns]

     �ｻｿ逕ｳ霎ｼ蟷ｴ譛域律,逕ｳ霎ｼ譎る俣,縲仙ｪ剃ｽ薙さ繝ｼ繝峨大､ｧ鬆�逶ｮ,縲仙ｪ剃ｽ薙さ繝ｼ繝峨題ｩｳ邏ｰ鬆�逶ｮ,蜿嶺ｻ俶凾髢灘ｸｯ蛹ｺ蛻�,蜿嶺ｻ伜ｽ｢諷句玄蛻�,譁ｰ隕乗凾閾ｪ蜍募･醍ｴ�讖溷ｺ礼分,蜿匁桶蠎礼分,邂｡逅�蠎礼分,諤ｧ蛻･,蟷ｴ鮨｢,逕溷ｹｴ譛域律,�ｼｪ�ｼｩ�ｼｳ菴乗園繧ｳ繝ｼ繝�,迢ｬ譌｢蛹ｺ蛻�,譁ｰ閨ｷ遞ｮ蛹ｺ蛻�,縲先眠閨ｷ遞ｮ蛹ｺ蛻�縲大､ｧ鬆�逶ｮ,縲先眠閨ｷ遞ｮ蛹ｺ蛻�縲題ｩｳ邏ｰ鬆�逶ｮ,髮�逕ｨ蠖｢諷句玄蛻�,蟆ｱ讌ｭ蠖｢諷句玄蛻�,莨夂､ｾ隕乗ｨ｡蛹ｺ蛻�,蜷郁ｨ亥ｹｴ蜿�,蝨ｨ遉ｾ譛域焚,菴丞ｱ�蛹ｺ蛻�,螻�菴乗怦謨ｰ,螳ｶ雉�雋諡�鬘�,螳ｶ譌乗ｧ区�仙玄蛻�,菫晞匱閨ｷ遞ｮ蛹ｺ蛻�,蜿主�･險ｼ譏取怏辟｡,迢ｬ霄ｫ蜀�險ｳ,蜷悟ｱ�蛹ｺ蛻�,謇ｶ鬢雁ｮｶ譌乗焚,謇ｶ鬢雁ｮｶ譌丞ｭ蝉ｾ帶焚,謇蠕苓ｨｼ譏主玄蛻�,蜷咲ｾｩ蛹ｺ蛻�,莠区･ｭ蠖｢諷句玄蛻�,莠区･ｭ謇譛臥┌,雋ｸ莉伜ｹｴ譛域律
0     2015-04-13,130741,3,25,0,502,0,5,5,2,38,1976-0...
1     2015-04-15,123609,1,99,0,1,383,383,5,2,30,1985...
2     2015-04-30,181535,4,99,0,1801,552,552,5,1,22,1...
3     2015-05-12,115947,5,99,0,101,0,5,5,1,59,1956-0...
4     2015-05-14,175151,5,99,0,1,1414,1414,5,2,46,19...
...                                                 ...
3495  2018-07-04,124919,1,99,0,5,0,1437,1437,1,22,19...
3496  2018-07-24,233917,1,99,0,1701,0,1437,1437,2,20...
3497  2018-07-17,144546,2,24,0,1701,0,1437,1437,2,61...
3498  2018-08-09,173804,5,99,0,101,2560,2560,1437,1,...
3499  2018-08-19,202301,3,15,3,1801,0,1437,1437,2,57...

[3500 rows x 1 columns]